<!-- Form page for User model-->
<header id='page-header">
  <div id="masthead">
    <h1><%= link_to 'Tips', tips_path, method: "get" %></h1>
    <nav>
      <p>
      <%= link_to "Register", new_user_path, class: "button" %>
      </p>
    </nav>
  </div>
</header>
