/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require users
 *= require_self
*/
//  color: $primary-text-color;
//  border-radius: 4px;
//  padding: 10px;
//  margin: 0;
//  text-align: center;
//  text-transform: uppercase;
//  box-shadow: #ffc 0 0 4px;
 
p.notice, p.flash {
  width: 40%;
  font-size: 12pt;
  height: 16pt;
  font-weight: 450;
  color: #fff;
  background-color: #1da004;
  padding-top: 6pt;
  margin: auto;
}

p.alert {
  width: 44%;
  font-size: 10pt;
  height: 16pt;
  font-weight: 450;
  color: #fff;
  background-color: #bc0f00;
  padding-top: 3pt;
  margin: auto;
}



