// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


fieldset {
  width: 30%;
  border: none;
  margin-left: -24px;

}
fieldset.signin {
  margin-left: -34px;
}

td.reddy1 {
  padding-left: 16pt;
}

p.signin-msg {
  width: 22%;
//  text-align: t;
  margin: 0 0 0 0;
  padding: 0;
} 
