// Place all the styles related to the Tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  border: 1px;
  border-color: gray;
  border-style: solid;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;;
  margin-bottom: -8px;
  padding: 4px;
}

h1 {
  color: white;
  font-size: 28px;
}

.buttonTo {
//background-image: url(plus_8x8.png);
background-repeat:no-repeat;
display:block;
float: center;
margin:0 7px 0 0;
background-color:#f5f5f5;
border:1px solid #dedede;
border-top:1px solid #eee;
border-left:1px solid #eee;
font-family: Arial;
font-size: 12px;
text-align: center;
line-height:100%;
text-decoration:none;
font-weight:bold;
color:#565656;
cursor:pointer;
padding:3px 6px 3px 6px;;  /* I put this here to move the text away on older IE junk */
}
 
table th{
  font-size: 13px;
  color: #000;
  background-color: #0f0fc3;
  padding: 4px 8px;
  padding-bottom: 4px;
  text-align: left;
}

table.tip-top {
  border: 0px;
  margin-top: -8px;
  margin-bottom: -18px;
}
table td {
  font-size: 12px;
  padding: 0px 2px;
}

.tip {
  background-color: white;
  color: black;
}

td.tip a {
  background-color: white;
  color: blue;
}


td.tip a:hover {
  background-color: white;
  color: green;
}
  

tr.even {
  background-color: #6a6a98;
  color: #fff;
}

.email_link {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0,5em;
}
.privacy table {
  border: 0px;
  margin-right: 18%;
  margin-left: 18%;
  margin-top: 0.5em;
  margin-bottom: -6px;
}

td.rt-heading {
  line-height: 6px;
  padding: -0.5em;
  padding-bottom: -0.5em;
  margin: -0.05em;
//  margin-bottom: 0px;
  
}
.rt-heading h2 {
  font-size: 18px;
  margin-bottom: -0,5em;
}
.privacy.td.rt-heading {
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  
//  line-height:100%;  
  font-weight:bold;
  margin-bottom: -0.5em;
  padding-top: 0px;
  padding-bottom: -0.5em;
}

tr.odd {
//  background-color: #5D5DF3;
  background-color: #3535c3;
  color: #fff;
}

//a {
//  background-color: white;
//  color: dark gray;
//}

//a:hover {
//  background-color: dark gray;
//  color: white;
//}
