<center>
<table class='tip-top'><tr><td><img src='/assets/ruby.png' width='15 height='15>
<td><h1>&nbsp;Editing Ruby Tip&nbsp; </h1></td>
<td><img src='/assets/ruby.png' width='15 height='15></td>
</tr>
</table>

<%= render 'form' %>

<%= link_to 'Show', @tip %> |
<%= link_to 'Back', tips_path %>
</center>
