<!-- Edit page for Tip model-->
<!-- This page should only be viewed by the admin or author
<table class='tip-top'>
  <tr>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
    <td><h1>Edit Tip</h1></td>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
  </tr>
</table>

<%= render 'form' %>

  <table class='foot-buttons'>
    <tr>
      <!-- Issue an alert message that you are already signed in as firstname/lastname --> 
<!--        <td>< % = button_to 'Sign Out', session_path, method: :delete %></td>
        <td>< % = button_to 'About',    about_page_path,  {:class => "buttonTo", :method => "get"} %></td>
        <td>< % = button_to 'Privacy',  policy_page_path, {:class => "buttonTo", :method => "get"} %></td>
        <td>< % = button_to 'Tips',     tips_path,        {:class => "buttonTo", :method => "get"} %></td>
-->
    </tr>
  </table> 
