<!-- New page for User model-->
<table class='tip-top'>
  <tr>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
    <td><h1>New Tip</h1></td>
    <td><img src='/assets/ruby.png' width='15' height='15'></td>
  </tr>
</table>
<p class='please'>Please enter values for all fields.</p>
<%= render 'form' %>
<!-- < % = link_to 'Back', tips_path % > -->
<br/>
