<!DOCTYPE html>
<html>
<head>
  <title>Tips</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="jquery-latest.js"></script> 
  <script type="text/javascript" src="tablesorter.js"></script> 

  <%= csrf_meta_tags %>
<style type="text/css">
  code { white-space: pre; }
</style>
</head>
<body>

<%= yield %>

</body>
</html>
